.heading-2 {
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #343434;
}
.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}
.resp-tab-active {
    background-color: #fff;
    border: 1px solid #5AB1D0 !important;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    border-top: 4px solid #5AB1D0 !important;
    border-bottom: 0px #fff solid !important;
}
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
    text-align: center;
    border-color: rgb(193, 193, 193);
}
h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}
h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
    background: none rgb(245, 245, 245);
    border-color: rgb(193, 193, 193);
}
.resp-tab-content {
    border: 1px solid #c1c1c1;
    border-top-color: #5AB1D0;
}
.resp-tab-content {
    display: none;
    padding: 15px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.floorplanimg {
    width: 70%!important;
}
.resp-tab-content-active {
    display: block;
}
.resp-tab-content {
    border: 1px solid #c1c1c1;
    border-top-color: #5AB1D0;
}
.resp-tab-content {
    padding: 15px;
}

.icon-font{
    font-size: 65px;
}
.shodw{
    background-color: #fff;
    z-index: 12;
    top: -160px;
    right: 0;
    left: 0;
    box-shadow: 1px 2px 3px 1px black;
}

.pargraph{
    padding-top: 80px;
    
}
.background_color{
    background-color: #f5f5f5;
}